<%= form_for @proyecto, html: {multipart: true} do |f| %>

<% if @proyecto.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@proyecto.errors.count, "error") %> prohibited
      this proyecto from being saved:
    </h2>
    <ul>
      <% @proyecto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="row">
  <div class="form-group">
    <label>Titulo del proyecto</label>
    <%= f.text_field :nombre_proyecto, placeholder: "Título principal", class: "form-control" %>
  </div>
</div>

<div class="row">
  <div class="col-md-4 nopadding">
    <div class="form-group">
      <label>Tipo de proyecto</label>
      <%= f.select :tipo_proyecto, [["residencial","residencial"], ["interiorismo","interiorismo"], ["paisajismo","paisajismo"], ["comercial","comercial"]], { prompt: "Select..." }, { class: "form-control", required: true } %>
    </div>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <label>Ubicación</label>
    <%= f.text_field :ubicacion, placeholder: "ej. Temozón, Mérida Yucatán México.", class: "form-control" %>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <label>m2 de constricción</label>
    <%= f.text_field :construccion, placeholder: "ej. 142", class: "form-control" %>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <label>m2 de terreno</label>
    <%= f.text_field :terreno, placeholder: "ej. 162", class: "form-control" %>
  </div>
</div>

<div class="row">
  <div class="form-group">
    <label>Resumen</label>
    <%= f.text_area :resumen, rows: 5, placeholder: "Resumen de propiedad", class: "form-control" %>
  </div>
</div>
<hr>
<div class="row">
	<div class="col-md-12 form-group">
		<%= file_field_tag "images[]", type: :file, multiple: true%>
	</div>
</div>
<hr>
<div id="photos"><%= render 'photos/photos_list' %></div>
<hr>

<div class="actions">
  <%= f.submit "Guardar", class: "btn btn-primary" %>
</div>

<% end %>
