<!DOCTYPE html>
<html>
  <head>
    <title>Atemporal</title>
    <meta charset="utf-8">
  	<meta name="description" content="Description" content="Taller de Arquitectura enfocado al diseño de espacios amigables para el usuario y el ambiente que los rodea.">
  	<meta property="og:title" content="A•Temporal" />
  	<meta property="og:type" content="website" />
  	<meta property="og:description" content="Description" content="Taller de Arquitectura enfocado al diseño de espacios amigables para el usuario y el ambiente que los rodea." />
  	<meta property="og:url" content="index.html" />
  	<meta property="og:image" content="/assets/Atemporal_logo-02.png" />
  	<meta property="og:locale" content="es_MX" />

  	<meta name="HandheldFriendly" content="True">
  	<meta name="MobileOptimized" content="320">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<link rel="apple-touch-icon" href="/assets/apple-icon-touch.png.html">
  	<link rel="icon" type="image/png" href="/assets/Atemporal_logo-02.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
